
#root {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 30vh;
    margin-right: 30vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: pink;
    gap: 0;
}

.snake {
    height: 6vw; 
    width: 6vw; 
    background-color: hotpink; 
    position:absolute;
    
}

.space {
    background-color: lightpink;
    color: darkmagenta;
    border-style: solid;
    border-width: thin;
    border-color: hotpink;
    height: 6vw;
    width: 6vw;
}